
<div id="main">
    <div class="inner">
        <header>
            <h1>
                This is P411<br />

            </h1>

        </header>

        <section>
            <h2>Add New Item</h2>
            <form method="post" action="/Generic/AddBlock">
                <div class="fields">
                    <div class="field half">
                        <input type="text" name="photo" id="name" placeholder="photo" />
                    </div>
                    <div class="field half">
                        <input type="text" name="title" id="email" placeholder="title" />
                    </div>
                    <div class="field half">
                        <input type="text" name="subtitle" id="email" placeholder="subtitle" />
                    </div>
                    <div class="field">
                        <textarea name="text" id="message" placeholder="text"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Save" class="primary" /></li>
                </ul>
            </form>
        </section>


    </div>
</div>


