@model Block


<div id="main">
    <div class="inner">
        <h1>Generic Page</h1>
        <h3>@Model.Title</h3>
        <span class="image main"><img src="@Model.Image" alt="" /></span>
        <p>@Model.AboutText</p>
      
    </div>
</div>
